/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
auth.json
.DS_Store
.idea
.vscode
*.swp
*.swo
*~
.project
.settings
.classpath
*.c9/
*.iml
.vscode-test
.history/
